@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Geologica", sans-serif;
}

.authContainer {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  border: 1px solid #12456534;
  box-shadow: 0 0 5px 1px #124565;
  width: 30%;
  padding: 40px 15px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form p {
  font-size: 20px;
  font-weight: 400;
  color: #124565;
  margin: 8px auto;
  max-width: 90%;
  word-wrap: break-word;
  text-align: center;
}

.hidden {
  display: none;
}

#response {
  display: none;
}

#response.show {
  display: block;
  width: 90%;
  margin: 12px auto;
  padding: 6px;
  text-align: center;
  color: #ffffff;
  background: #ac2344;
}

form img {
  width: 75%;
}

form label {
  color: #124565;
  font-size: 16px;
  font-weight: 600;
  width: 90%;
}

form input {
  width: 90%;
  margin: 12px auto;
  border-radius: 8px;
  border: 1px solid #124565;
  font-size: 20px;
  padding: 12px;
}

form button {
  width: 45%;
  margin: 10px auto;
  padding: 12px;
  border-radius: 4px;
  background: #124565;
  color: #ffffff;
}

form button svg,
form button i {
  animation: rotateSpinner 4s infinite;
}

@keyframes rotateSpinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  form {
    width: 90%;
  }
}
